.allGames-content {
    h1 {
        font-size: 24px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    
    &__top{
        align-items: center;
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
        gap: 10px;
    }

    &__filterbtn{
        display: none;
        background: none;
        border-color: var(--main);
        border-radius: 8px;
        font-size: 14px;
        align-items: center;
        padding: 4px;
        gap: 4px;
    }
}

@media all and (max-width: 1224px) {
    .allGames-content {
        &__list {
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }
    }
}

@media all and (max-width: 968px) {
    .allGames-content {
        &__list {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
    }
}

@media all and (max-width: 620px) {
    .allGames-content {
        margin: 20px 0;

        h1 {
            font-size: 20px;
        }

        &__filterbtn{
            display: flex;
        }
    }
}