.GameReviews {
    margin: 20px 0;

    &-wrapper {
        padding: 14px;
        background: var(--white);
        border-radius: 10px;

        h2 {
            margin: 0;
            display: flex;
            align-items: center;
            gap: 6px;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &-card {
        background: var(--lightgrey);
        padding: 10px;
        border-radius: 8px;

        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &--user {
                display: flex;
                gap: 8px;
                align-items: center;
            }

            &--avatar {
                height: 46px;
                width: 46px;
                background: var(--grey);
                text-align: center;
                line-height: 46px;
                border-radius: 50%;
                font-size: 24px;
            }
            
            &--username {
                font-size: 18px;
                font-weight: 600;
            }

            &--date {
                font-size: 18px;
                font-weight: 600;
            }
        }

        &__middle {
            margin: 10px 0;

            h3 {
                margin-bottom: 4px;
            }
        }

        &__bottom {
            &--reaction {
                display: flex;
                align-items: center;
                gap: 6px;
            }

            &--like{
                color: var(--green);
            }

            &--dislike{
                color: var(--red);
            }
        }
    }

    @media (max-width: 1024px) {
        &-wrapper {
            padding: 6px;
        }
    }
}