.Entry {
    margin: 0;

    .Entry-wrapper {
        padding: 14px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        background: var(--white);
        border-radius: 0 0 10px 10px;
    }

    .Entry-gallery {
        display: flex;
        gap: 10px;
        width: 100%;
        height: 440px;
        overflow: hidden;

        .Entry-gallery__secondary {
            width: 140px;

            .swiper-slide {
                height: 140px;

                &:last-child {
                    margin-bottom: 0 !important;
                }
            }

            img {
                width: 140px;
                height: 140px;
                border-radius: 10px;
                object-fit: cover;
            }
        }

        .Entry-gallery__main {
            flex: 1;
            height: 100%;
            width: 100%;
            min-width: 300px;
            max-width: 100%;

            &--slider {
                height: 100%;
                width: 100%;
                overflow: hidden;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }

    .Entry-content{
        h1{
            font-size: 32px;
            margin-bottom: 10px;
        }

        &__badge{
            background: var(--red);
            width: fit-content;
            height: 34px;
            padding: 0 8px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            font-weight: 600;

            &--stock{
                background: none;
            }
    
        }

        &__badges{
            display: flex;
            gap: 10px;
            align-items: center;
            margin-bottom: 10px;
        }

        &__price{
            display: flex;
            gap: 10px;

            &--full{
                text-decoration: line-through;
                font-size: 20px;
                font-weight: 600;
                color: var(--grey);
            }

            &--current{
                font-size: 30px;
                font-weight: 600;
            }
        }

        &__special{
            margin-bottom: 10px;
        }

        &__button{            
            .btn{
                background: var(--main);
                border: 2px solid var(--mainborder);
                border-radius: 10px;
                padding: 0 6px;
                height: 38px;
                display: flex;
                align-items: center;
                gap: 6px;

            }
        }

        &__genres{
            margin-bottom: 10px;

            &--title{
                margin-bottom: 4px;
            }

            &--content{
                flex-wrap: wrap;
                display: flex;
                gap: 10px;
            }

            &--genre{
                background: var(--lightgrey);
                padding: 4px 8px;
                border-radius: 8px;
            }
        }

        &__platforms{
            margin-bottom: 10px;
            
            &--title{
                margin-bottom: 4px;
            }

            &--content{
                flex-wrap: wrap;
                display: flex;
                gap: 10px;
            }

            &--platform{
                background: var(--lightgrey);
                padding: 4px 8px;
                border-radius: 8px;
            }
        }
        
        &__keywords{
            margin-bottom: 10px;
            
            &--title{
                margin-bottom: 4px;
            }

            &--content{
                flex-wrap: wrap;
                display: flex;
                gap: 10px;
            }

            &--keyword{
                background: var(--lightgrey);
                padding: 4px 8px;
                border-radius: 8px;
            }
        }

        .red{
            color: var(--red);
        }

        .green{
            color: var(--green);
        }
    }
}

@media all and (max-width: 1024px) {
    .Entry{
        .Entry-wrapper{
            grid-template-columns: 1fr;
            padding: 6px;
        }

        .Entry-gallery {
            height: 190px;
            gap: 5px;
            overflow: hidden;
    
            .Entry-gallery__secondary {
                width: 60px;
    
                .swiper-slide {
                    height: 60px;
    
                    &:last-child {
                        margin-bottom: 0 !important;
                    }
                }
    
                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 10px;
                }
            }
    
            .Entry-gallery__main {
                flex: 1;
                height: 100%;
                width: 100%;
                min-width: 10px;
                max-width: 100%;
    
                &--slider {
                    height: 100%;
                    width: 100%;
                    overflow: hidden;
                }
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
        }

        .Entry-content{
            h1{
                font-size: 24px;
                margin-bottom: 10px;
            }

            &__badge{
                height: 26px;
                padding: 0 4px;

                svg{
                    width: 20px;
                    height: 20px;
                }

                &--discount{
                    font-size: 14px;
                }
            }
    
            &__price{    
                &--full{
                    font-size: 16px;
                }
    
                &--current{
                    font-size: 22px;
                }
            }
    
            &__button{            
                .btn{
                    height: 32px;
                }
            }
    
            &__genres{  
                &--content{
                    font-size: 14px;
                }
            }
    
            &__platforms{
                &--content{
                    font-size: 14px;
                }
            }
            
            &__keywords{
                &--content{
                    font-size: 14px;
                }
            }
        }
    }
}