.notFound{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px 0;
    gap: 20px;

    svg{
        width: 120px;
        height: 120px;
    }

    h2{
        margin: 0;
    }

    a{
        display: block;
        background: var(--main);
        border: 1px solid var(--main);
        border-radius: 12px;
        font-size: 16px;
        align-items: center;
        padding: 8px 16px;
    }
}