.GameDescription{
    margin: 20px 0;

    &-wrapper{
        padding: 14px;
        background: var(--white);
        border-radius: 10px;

        h2{
            margin: 0;
            display: flex;
            align-items: center;
            gap: 6px;
        }

        p{
            font-size: 16px;
            line-height: 24px;
        }
    }

    @media (max-width: 1024px) {
        &-wrapper{
            padding: 6px;
        }
    }
}