:root {
  --white: #ffffff;
  --black: #000000;
  --grey: #777777;
  --lightgrey: #e0e0e0;
  --darkgrey: #2b2b2b;
  --main: #07B6BF;
  --mainborder: #099ba3;
  --background: #f4f4f4;
  --separation: #dadada;
  --red: #ff0000;
  --lightgreen: #90ee90;
  --green: #00a619;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 155px;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--black);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  cursor: pointer;
}

.all-products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

section {
  margin: 40px 0;
}

h2 {
  margin-bottom: 20px;
}

.divider{
  margin: 10px 0;
  height: 1px;
  width: 100%;
  background: var(--grey);
}

@media all and (max-width: 1024px) {
  html{
    scroll-padding-top: 130px;
  }
}