.Checkout {
    h1 {
        margin-bottom: 15px;
    }

    &-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    &-list {
        border: 1px solid var(--grey);
        border-radius: 10px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        img {
            width: 140px;
            height: 100%;
            object-fit: cover;
        }

        &__item {
            position: relative;
            display: flex;
            border: 2px solid var(--darkgrey);
            border-radius: 20px;
            overflow: hidden;
            padding-right: 5px;

            h2 {
                margin-bottom: 10px;
            }
        }

        &__info {
            padding: 5px;
            flex: 1;
        }

        &__details {
            display: flex;
            justify-content: flex-end;
        }
    }

    &-total {
        border: 1px solid var(--grey);
        border-radius: 10px;
        padding: 15px;
        margin-top: 20px;
    }

    &-form__field {
        border: 1px solid var(--grey);
        border-radius: 10px;
        background-color: var(--lightgrey);
        padding: 5px;
        margin-bottom: 10px;
        display: flex;
        gap: 10px;
        align-items: center;

        label {
            line-height: 28px;
            font-weight: 600;
        }

        input {
            display: block;
            width: 100%;
            height: 38px;
            font-size: 18px;
            padding: 0 5px;
            right: 5px;
            border-radius: 7px;
        }
    }

    button {
        border: 2px solid var(--main);
        cursor: pointer;
        width: 100%;
        height: 48px;
        font-size: 18px;
        font-weight: 600;
        color: var(--main);
        padding: 5px;
        border-radius: 10px;
    }

    &-success {
        color: lime;

        svg {
            display: block;
            margin: 0 auto;
            width: 60px;
            height: 60px;
        }

        font-size: 22px;
        text-align: center;
    }

    &-error {
        color: red;

        svg {
            display: block;
            margin: 0 auto;
            width: 60px;
            height: 60px;
        }

        font-size: 22px;
        text-align: center;
    }
}

@media all and (max-width: 900px) {
    .Checkout {
        h1 {
            font-size: 20px;
        }

        &-wrapper {
            grid-template-columns: 1fr;
        }

        &-list {
            &__item {
                h2 {
                    font-size: 16px;
                }
            }
        }
    }
}

@media all and (max-width: 620px) {
    .Checkout {
        margin: 20px 0;
    }
}